.dataTables_info, .dataTables_paginate {
    padding: 15px;
    padding-bottom: 10px;
}

.dataTables_length, .dataTables_filter {
    padding: 15px;
    padding-bottom: 5px;
}

.page-item.active {
    .page-link {
        background-color: $color-primary;
        border: none;
    }
}
